<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsg.house.interest.model.mapper.InterestMapper">
	
	<select id="getInterests" parameterType="int" resultType="interest">
		SELECT * FROM interest
		WHERE user_id = #{userId}
	</select>
	
	<insert id="addInterests" parameterType="interest">
		INSERT INTO interest (user_id,dong_code,sido_name,gugun_name) 
		VALUES(#{userId},#{dongCode},#{sidoName},#{gugunName})
	</insert>
	
	<update id="deleteInterests" parameterType="interest">
		DELETE FROM interest
		WHERE user_id = #{userId} and dong_code = #{dongCode}
	</update>
	
</mapper>