<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.jsg.house.interest.model.mapper.InterestMapper">
	
	<select id="getInterests" parameterType="int" resultType="interest">
		SELECT * FROM interest_view
		WHERE userId = #{userid}
	</select>
	
	<insert id="addInterests" parameterType="interest">
		INSERT INTO interest (user_id,dong_code) 
		VALUES(#{userId},#{dongCode})
	</insert>
	
	<update id="deleteInterests" parameterType="int">
		UPDATE interest set state = -1 where id = #{id};
	</update>
	
</mapper>